<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
            required 
            minlength="3" 
            maxlength="26" 
            ngModel 
            name="firstName" 
            #firstName="ngModel" 
            (change)="log(firstName)"
            id="firstName" 
            type="text" 
            class="form-control"
        >
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">First Name Required</div>
            <div *ngIf="firstName.errors.minlength">First Name should be minimum {{ firstName.errors.minlength.requiredLength }} characters</div>
            <div *ngIf="firstName.errors.maxlength">First Name cannot be longer than 26 characters</div>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input 
            required
            minlength="3"
            maxlength="26"
            ngModel
            #lastName=ngModel
            name="lastName"
            type="text"
            class="form-control"
        >
        <div class="alert alert-danger" *ngIf="lastName.touched && !firstName.valid">
            <div *ngIf="lastName.errors.required">Last Name Required</div>
            <div *ngIf="lastName.errors.minlength">Last Name should be minimum {{ firstName.errors.minlength.requiredLength }} characters</div>
            <div *ngIf="lastName.errors.maxlength">Last Name cannot be longer than 26 characters</div>
        </div>

    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input
            pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" 
            required
            ngModel
            #email="ngModel"
            name="email"
            type="email"
            (change)="log(email)"
            class="form-control"
        >
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.pattern">Please Enter A Valid Email</div>
        </div>

    </div>

    <div class="form-group">
        <label for="favBeer">Favorite Beer</label>
        <input 
            required
            minlength="3"
            maxlength="26"
            ngModel
            #favBeer="ngModel"
            name="favBeer"
            type="text"
            class="form-control"
        >
        <div class="alert alert-danger" *ngIf="favBeer.touched && !favBeer.valid">
            <div *ngIf="favBeer.errors.required">Favrotie Beer Required</div>
            <div *ngIf="favBeer.errors.minlength">Favorite beer needs to be at least 3 characters long!</div>
        </div>

    </div>
    
    <div class="form-group">
        <label for="comment">Comment</label>
        <input 
            ngModel 
            name="comment" 
            id="comment" 
            type="text" 
            class="form-control">
    </div>

    <button class="btn btn-primary">
        Submit
    </button>
</form>